<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <link rel="stylesheet" href="../../static/css/base.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/city.js"></script>
</head>
<body>
<div id="app">
    <div class="header">
        <nav class="nav navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">宝宝煎米果</a>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">家教</a></li>
                        <li><a href="#">平台规则声明</a></li>
                        <!--下拉菜单功能的实现-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="recruitPage">
        <div class="person_left">
            <div id="recruitList">
                <div class="row col-xs-2">
                    <div class="span2">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#" v-on:click="control = 1">基本信息</a></li>
                            <li><a href="#" v-on:click="control = 2;identical = ''">修改密码</a></li>
                            <li><a href="#" v-on:click="control = 3">发布招聘</a></li>
                            <li><a href="#" v-on:click="control = 4">招聘列表</a></li>
                            <li><a href="#" v-on:click="control = 5">我的私信</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="person_right">
            <div v-if="control == 2">
                <div id="repassword" class="form-horizontal" align="center">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="password">原密码:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="password" v-model="password"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="newpassword">新密码:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="password" v-model="newpassword"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="renewpassword">确认新密码:</label>
                        <div class="col-sm-3">
                            <input class="form-control" type="password" v-model="renewpassword"
                                   placeholder="">
                        </div>
                    </div>
                    <div class="form-group" v-if="identical != ''">
                        <label class="col-sm-4"></label>
                        <div class="col-sm-6" align="left" style="color: red;font-size: 16px;">
                            ${identical}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <button class="btn btn-danger" v-on:click="updatePassword">修改密码</button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="control == 3">
                <div class="messageEntire">
                    <div class="messageLine">
                        家教信息填写
                    </div>
                    <div class="form-horizontal" align="center">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="city">家教城市:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" v-model="city"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="local">家教位置:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="local" v-model="local"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="gender">学生性别:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" v-model="gender"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="level">学生年级:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" v-model="level"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="subject">学生科目:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" v-model="subject"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="salary">家教薪资:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" v-model="salary"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="describe">具体描述和要求:</label>
                            <div class="col-sm-6">
                            <textarea class="form-control" rows="3" v-model="describe"
                                      placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="form-group" v-if="identical != ''">
                            <label class="col-sm-4"></label>
                            <div class="col-sm-6" align="left" style="color: red;font-size: 16px;">
                                ${identical}
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                <button class="btn btn-success" v-on:click="updatePassword">创建家教信息</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="control == 4">
                招聘列表
            </div>
            <div v-else-if="control == 5">
                我的私信
            </div>
            <div v-else="">
                <div id="recruitInfo">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <strong class="col-xs-2">用户编号:</strong>
                            <p>${recruitData.user_id}</p>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2">用户名:</strong>
                            <a v-if="update_status == 1">${recruitData.username}</a>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2">昵称:</strong>
                            <a v-if="update_status == 1">${recruitData.name}</a>
                            <div v-else="update_status == 2" class="col-sm-4">
                                <input class="form-control" type="password" v-model="password"
                                       placeholder="至少6位字母或数字">
                            </div>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2">性别:</strong>
                            <a v-if="update_status == 1">${recruitData.gender}</a>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2">电话:</strong>
                            <a v-if="update_status == 1">${recruitData.phone}</a>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2">身份:</strong>
                            <p>${recruitData.identify}</p>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2">城市:</strong>
                            <a v-if="update_status == 1">${recruitData.location.province + " " +
                                recruitData.location.city + " " + recruitData.location.district}</a>
                        </div>
                        <div class="form-group">
                            <strong class="col-xs-2"></strong>
                            <button type="button" class="btn btn-success" v-on:click="updateStatus()"
                                    v-if="update_status == 1">修改信息
                            </button>
                            <button type="button" class="btn btn-success" v-on:click="updateRecruit()"
                                    v-if="update_status == 2">更新信息
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            delimiters: ['${', '}'],
            data: {
                province: "",
                cityName: "",
                area: "",
                Local: Province,
                username: "",
                password: "",
                newpassword: "",
                renewpassword: "",
                name: "",
                gender: "",
                phone: "",
                infoUrl: "",
                tokenName: "",
                getInfoUrl: "",
                getPersonUrl: "",
                getLogoutUrl: "",
                control: 1,
                identical: "",
                recruitData: [],
                update_status: 1,
                describe: "",
                city: "",
                local: "",
                level: "",
                subject: "",
                salary: ""
            },
            mounted: function () {
                this.getInfo();
                this.recruitInfo();
            },
            methods: {
                getInfo: function () {
                    var that = this;
                    var studentToken = localStorage.getItem("studentToken");
                    var recruitToken = localStorage.getItem("recruitToken");
                    console.log(studentToken);
                    console.log(recruitToken);
                    if (studentToken != null || recruitToken != null) {
                        var infoUrl = studentToken != null ? "/student" : "/recruit";
                        var token = studentToken != null ? studentToken : recruitToken;
                        that.tokenName = studentToken != null ? "studentToken" : "recruitToken";
                        that.getInfoUrl = infoUrl + "/info";
                        that.getPersonUrl = infoUrl + "/personal";
                        that.getLogoutUrl = infoUrl + "/logout";
                        console.log(that.getInfoUrl);
                        $.ajax({
                            url: that.getInfoUrl,
                            type: "get",
                            dataType: "json",
                            headers: {'token': 'Bearer ' + token},
                            error: function (e) {
                                console.log(e);
                                window.location.href = "/"
                            },
                            success: function (data) {
                                console.log(data);
                                if (data.code == 200) {
                                    var name = data.data.name;
                                    var userId = data.data.user_id;
                                    var accountId = data.data.account_id;
                                    console.log(name);
                                    console.log(userId);
                                    console.log(accountId);
                                    that.blag = true;
                                    that.name = name;
                                } else {
                                    window.location.href = "/"
                                }
                            }
                        });
                    }
                },
                updatePassword: function () {
                    var that = this;
                    console.log(this.password);
                    console.log(this.newpassword);
                    console.log(this.renewpassword);
                    if (this.newpassword != this.renewpassword) {
                        that.identical = "新密码前后两次输入不一致，请重新输入";
                    }
                },
                recruitInfo: function () {
                    var that = this;
                    var token = localStorage.getItem(this.tokenName);
                    $.ajax({
                        url: "/recruit/look_own_info",
                        type: "get",
                        dataType: "json",
                        headers: {'token': 'Bearer ' + token},
                        error: function (e) {
                            console.log(e);
                            window.location.href = "/"
                        },
                        success: function (data) {
                            console.log(data);
                            if (data.code == 200) {
                                that.recruitData = data.data;
                                console.log(that.recruitData);
                            } else {
                                window.location.href = "/"
                            }
                        }
                    });
                },
                updateStatus: function () {
                    var that = this;
                    that.update_status = 2;
                },
                updateRecruit: function () {
                    var that = this;
                    that.update_status = 1;
                }
            }
        })
    </script>
</body>
</html>